<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CDN -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>

    <!-- Static CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='User/css/feed.css') }}">


    <title>Feed</title>
</head>

<body>

    <!-- NAVBAR! -->
    <nav class="navbar navbar-expand-lg bg-light shadow-sm">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">BlogSpot</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" role="button" id="post-modal">Create</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <a href="/logout" class="btn btn-outline-success mrgn" role="button" aria-pressed="true">Logout</a>
                </form>
            </div>
        </div>
    </nav>
    <!-- NAVBAR! -->

    <!--CREATE POST MODAL -->

    <div class="modal" tabindex="-1" id="post-create-modal" style="display: none;">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">BlogSpot</h5>
                </div>
                <div class="modal-body">

                    <form class="row" id="postForm">
                        <div class="col-md-6 col-12" id="post-details">

                            <div class="mb-3 row">
                                <label for="recipient-name" class="col-form-label">Title:</label>
                                <input type="text" class="form-control mx-2 flex-shrink-1" id="title" name="Title">
                            </div>
                            <div class="mb-3 row">
                                <label for="message-text" class="col-form-label">Description:</label>
                                <textarea class="form-control mx-2 flex-shrink-1" id="body" rows=5 name="Description"></textarea>
                            </div>

                            <div class="mb-3">
                                <label for="mediaFile" class="form-label">Upload mp4 or jpeg</label>
                                <input class="form-control" type="file" id="mediaFile"
                                    accept="image/jpg,image/jpeg,video/mp4,video/x-m4v" name="media">
                                <p class="fnt-sz fnt-stl">Note: Supported files types are .jpg, .jpeg, .mp4, .x-m4v.</p>
                            </div>

                        </div>

                        <div class="col-md-6 col-12" id="media-showcase">
                            <div class="w-100 text-center" id="previewImg" style="height: 30rem;">
                                <img src="" alt="" width="650" id="image" />
                                <video src="" id="video" controls width="300"></video>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        id="close-button">Cancel</button>
                    <button type="button" class="btn btn-primary" id="postButton">Create Post</button>
                </div>
            </div>
        </div>
    </div>
    <!-- CREATE POST MODAL -->

    <!-- ERROR ALERT MODAL -->
    <div class="modal" tabindex="-1" id="errorAlertModal" style="display: none;">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="errorAlertTitle">Invalid Filename</h5>
            </div>
            <div class="modal-body">
              <p id="errorAlertText"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="errorAlertCloseBtn">Close</button>
            </div>
          </div>
        </div>
      </div>
    <!-- ERROR ALERT MODAL -->

    <script src="{{ url_for('static', filename='User/js/post.js') }}"></script>
</body>

</html>